<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">


    <bean name="c" class="com.how2java.pojo.Category">
        <property name="name" value="category 1" />
    </bean>

<!--    <context:component-scan base-package="com.how2java.aspect"/>-->
<!--    <context:component-scan base-package="com.how2java.service"/>-->
<!--    <aop:aspectj-autoproxy/>-->
    <!--    <bean name="c" class="com.how2java.pojo.Category">-->
<!--        <property name="name" value="yyy" />-->
<!--    </bean>-->

<!--    <bean name="p" class="com.how2java.pojo.Product">-->
<!--        <property name="name" value="product1" />-->
<!--        <property name="category" ref="c" />-->
<!--    </bean>-->
<!--    -->
<!--    <bean name="s" class="com.how2java.service.ProductService">-->
<!--    </bean>-->
<!--    -->
<!--    <bean id="loggerAspect" class="com.how2java.aspect.LoggerAspect" />-->

<!--    <aop:config>-->
<!--        <aop:pointcut id="loggerCutpoint" expression=-->
<!--                "execution(* com.how2java.service.ProductService.*(..)) "/>-->
<!--        <aop:aspect id="logAspect" ref="loggerAspect">-->
<!--            <aop:around pointcut-ref="loggerCutpoint" method="log" />-->
<!--            <aop:around pointcut-ref="loggerCutpoint" method="performance" />-->
<!--        </aop:aspect>-->
<!--    </aop:config>-->
    
<!--    <context:annotation-config />-->
<!--    <bean name="c" class="com.how2java.pojo.Category">-->
<!--        <property name="name" value="category 1" />-->
<!--    </bean>-->
<!--    <bean name="p" class="com.how2java.pojo.Product">-->
<!--        <property name="name" value="produce1" />-->
<!--&lt;!&ndash;        <property name="category" ref="c" />&ndash;&gt;-->
<!--    </bean>-->
</beans>